<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="shortcut icon" href="/images/graduation-cap-solid.svg" type="image/x-icon">
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/jobs/new">Creat Job</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notifications">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
        </div>
      </nav> -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/jobs">JOB-FAIR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/notifications">All Notif</a>
                    </li>
                    <% if(currentUser && currentUser.isAdmin){%>
                      <li class="nav-item">
                        <a class="nav-link" href="/jobs/new">Add New Job</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/notifications/new">Add New Notif</a>
                  </li>
                   <% } %>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/<%= currentUser._id %>"><%= currentUser.username %></a>
                    </li>
                    <a href="/logout" class="btn btn-outline-danger">Logout</a>
                    <% } else {%>
                    <a href="/login" class="btn btn-outline-primary me-3">Login</a>
                    <a href="/signup" class="btn btn-outline-success me-3">SignUp</a>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
