<%- include('../partials/header') %>
<form action="/login" method="post">
    <input type="email" name="username" placeholder="Email" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" class="btn btn-primary" value="Login">
</form>

<%- include('../partials/footer') %>